*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header_container{
    color: white;
    background-color:#1F2937;
    padding: 2%;
}

.header{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding-right: 10%;
}
h1{
    font-size: 24px;
    color:#F9FAF8;
}
h2{
    font-weight: 900;
    font-size:48px;
    color:#F9FAF8;
}
ul{
    list-style-type: none;
    display: flex;
    gap:20px;
}
ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.side{
    width:40%;
}
.side_img{
    width: 40%;
}
.header_1{
    display: flex;
    justify-content: center;
    gap:5px;

}
#info{
    font-size:36px;
    font-weight: 900;
    color:#1F2937;
    margin-top:20px;
}
button{
    width: 150px;
    background-color: #3882F6;
    color: white;
    outline: none;
    border:1px solid white;
    padding:5% 2%;
    border-radius:5px;
    font-weight: 900;
    font-size: 16px;
}
blockquote{
    background-color: #E5E7EB;
    padding: 100px;
}
footer{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-top:15px;
}
blockquote p{
    font-size:36px;
    color: #1F2937;
    font-style: italic;
}
.course{
    width:150px;
    height: 150px;
    border:2px solid #3882F6;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 5px;
}
.para{
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all_cards{
    display: flex;
    gap:20px;
    margin:30px;
}
.signupcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    margin:50px auto;
    padding:40px;
    width: 90%;
    border-radius: 5px;
}
#signup_header{
    font-size: 32px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding:30px;
    font-size: 16px;
}
